.addPopUp {
  width: 500px;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.custom-container {
  border-radius: 20px;
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 10%;
}
