.deletePopUp{
    width: 500px;
    height: fit-content;
    background-color: white;
    border-radius: 20px;
    padding: 10px;

    .deletePopUp__TitleUncut{
        color: black;
    }
    .deletePopUp__TitleCut{
        color: red;
    }
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 10%;
}